.app {
  text-align: center;
  padding: 0 ;
}

.header {
  padding-top: 40%;
  font-size: 40px;
  color: white;
  z-index: 1;
}
.background {
  width: 100%;
  height: 100%;
  position: absolute;
  background-size: 100% 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.card{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
  height: 46vh;
  width: 76vw;
  position: absolute;
  top: 27vh;
  left: 12vw;
  font-size: 40px;
  background: #FFF;
  background-color: #FFF;
  border-radius: 10px;
  box-shadow: 0 10px 20px 0 rgba(34, 34, 34, 0.089);
}

.logo {
  width: 30vw;
  height: 20vh;
  position: absolute;
  background-size: 100% 100%;
  top:5vh;
  left: 35vw;
  z-index: -1;
}


.title {
  position: absolute;
  top: 5vh;
  left: 28vw;
  width: 20vw;
  height: 6vh;
  font-weight: 700;
  font-size: 50px;
}

.username {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 17vh;
  left: 10vw;
  width: 56vw;
  height: 4vh;
  border-bottom-color: black;
  border-bottom-width: 100%;
}
.username Image {
  position: absolute;
  left: 0vw;
  width: 6vw;
  height:4vh;  
}

.username Input {
  position: absolute;
  left: 9vw;
  height: 4vh;
}

.password {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 26vh;
  left: 10vw;
  width: 56vw;
  height: 4vh;
  border-bottom-color: black;
  border-bottom-width: 100%;
}

.password Image {
  position: absolute;
  left: 0vw;
  width: 6vw;
  height:4vh;  
}

.password Input {
  position: absolute;
  left: 9vw;
  height: 4vh;
}

.placeholder {
  font-size: 32px;
}

.button {
  width:70%;
  height: 6vh;
  position: absolute;
  top: 36vh;
  left: 15%;
  border-radius: 20rpx;
  background: black;
  color: white;
  line-height: 6vh;
  font-size: 37px;
}