.main {
    position: relative;
    height: 100%;
    width: 100%;
}


.header {
    position: absolute;
    background: white;
    background-color: white;
    height: 7%;
}

.header img {
    position: absolute;
    top: 20%;
    left: 1%;
    height: 60%;
}

.body {
    position: absolute;
    top: 7%;
    width: 100%;
    height: 93%;
}

.sider {
    position: absolute;
    top: 0;
    height: 100%;
    width: 10%;
}

.content {
    position: absolute;
    top: 0;
    left: 10%;
    height: 100%;
    width: 90%;
}

