.main {
    position: relative;
    height: 100%;
    width: 100%;
}


.header {
    position: absolute;
    background: white;
    background-color: white;
    height: 8%;
}

.header img {
    position: absolute;
    top: 1%;
    left: 2%;
    height: 80%;
}

.sider {
    position: absolute;
    top: 8%;
    height: 100%;
}