.main {
    position: relative;
    height: 100%;
    width: 100%;
}


.header {
    position: absolute;
    background: white;
    background-color: white;
    height: 8%;
}
.sider {
    position: absolute;
    top: 8%;
    height: 100%;
}