.main {
    position: relative;
    height: 100%;
    width: 100%;
}


.header {
    position: absolute;
    background: white;
    background-color: white;
    height: 7%;
}

.header img {
    position: absolute;
    top: 20%;
    left: 1%;
    height: 60%;
}

.sider {
    position: absolute;
    top: 7%;
    height: 100%;
}

.sider Menu {
    position: absolute;
    width: 5%;
    height: 100%;
}