.background {
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('./static/bg.png');
    height: 100%;
    width: 100%;
    background-size: 100% 100%;
}

.logo {
    position: absolute;
    top: 18%;
    left: 50%;
    transform: translate(-50%, -50%);
}